{
    "extends": "airbnb-base",
    "rules": {
        "linebreak-style": ["error", "windows"],
        "indent": 0,
        "no-tabs": 0,
        "class-methods-use-this": "off",
        "no-restricted-syntax": "off",
        "max-classes-per-file": "off"
    }
}
